{# https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication #}
{# https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication#testing_against_authenticated_users #}
{# localhost/accounts/password_reset/ returns this view... #}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
{% endblock %}